<div class="row">
	<div class="span10">
		<h1>Comments</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Content</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="comment in commentsController.comments">
					<td>{{comment.content}}</td>
					<td>
						<a class="btn btn-default" ng-click="commentsController.edit(comment)"> <i class="fa fa-pencil-square-o"> </i> </a>
						<a class="btn btn-default" ng-click="commentsController.remove(comment)"> <i class="fa fa-trash-o"> </i> </a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<form name="commentForm">
			<div class="input-group margin-bottom-sm">
				<input id="content" name="content" class="form-control" type="text" placeholder="Content" ng-model="commentsController.comment.content" required>
  				<span ng-if="commentsController.comment.version === undefined" class="input-group-addon" ng-click="commentsController.add(commentForm)"><i class="fa fa-plus-square-o fa-fw" ></i></span>
  				<span ng-if="commentsController.comment.version !== undefined" class="input-group-addon" ng-click="commentsController.update(commentForm)"><i class="fa fa-pencil-square-o fa-fw"></i></span>
  				
			</div>
			<div class="validation-messages" ng-messages="commentForm.content.$error">
  					<div ng-message="required" class="help-block">This field is required</div>
  				</div>
  		</form>
		
	</div>
</div>
